<div id="selectFile" class="modal fade" role="dialog">
    <div class="modal-dialog prj_select_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Choose a File </h4>
            </div>
            <div class="modal-body" id="job_select">
                {{#each objects}}
                    <div id="possibleJob">
                        <a data-dismiss="modal" onclick="loadFile('{{id}}')"><i class="fa fa-file-code-o"></i> {{name}} <span></span></a>
                    </div>
                    <br>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div id="selectConfig" class="modal fade" role="dialog">
    <div class="modal-dialog prj_select_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Choose a Configuration File </h4>
            </div>
            <div class="modal-body" id="job_select">
                {{#each objects}}
                    <div id="possibleJob">
                        <a data-dismiss="modal" onclick="loadConfigFile('{{id}}')"><i class="fa fa-file-code-o"></i> {{name}} <span></span></a>
                    </div>
                    <br>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #job_select
    {
        overflow-y: auto;
    }
    #selectJob
    {
        position: absolute !important;
    }
    .prj_select_dialog
    {
    }
</style>