<div id="selectConfig" class="modal fade" role="dialog">
    <div class="modal-dialog prj_select_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Configuration File</h4>
            </div>
            <div class="modal-body" id="job_select">
                <p> <b> <u> Choose the configuration file to couple with your job </u> </b> <br>
                    Select a User Constrain File (.json) for LFR jobs. <br>
                    Select a Initialization File (.ini)  for MINT jobs. </p>
                <br/>
                <label for="configFile">Please choose a configuration file</label>
                <select class="form-control" id="configFile" data-bind="options: files, value: currentConfigFile, optionsText: 'name' " ></select>
                <br/>
                <form>
                    <div class="form-group">
                        <label for="deviceNameInput">Device Name:</label>
                        <input type="email" class="form-control" id="deviceNameInput" aria-describedby="emailHelp" placeholder="microfluidicDevice">
                        <small id="helpdialog" class="form-text text-muted">Please enter the name of your device as you would like it to will appear in the output.</small>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: compile">Compile</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #job_select
    {
        overflow-y: auto;
    }
    #selectJob
    {
        position: absolute !important;
    }
    .prj_select_dialog
    {
    }
    configFile {
        margin-bottom:5px;
    }
</style>