<ul id="jobfilehbs" data-bind="foreach: jobFiles">
    <li id="file_tree">
        <a><i class="fa fa-file-code-o"></i> <span data-bind="text:name, click: $parent.setAsCurrentJobFile"></span></a>
    </li>
</ul>
