<div id="selectFile" class="modal fade" role="dialog">
    <div class="modal-dialog prj_select_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Choose the file you wish to compile: </h4>
            </div>
            <div class="modal-body" id="job_select">
                {{#each objects}}
                    <div id="possibleJob">
                        <a data-dismiss="modal" onclick="stage_job('{{id}}')"><i></i> {{name}} <span></span></a>
                    </div>
                    <br>
                {{/each}}
                Note that if you are translating an LFR, you should choose a LFR file.
                If you are compiling a MINT, then you should choose a MINT file.
                Unexpected behavior could occur otherwise - This proccess will be smoother in the next update.
            </div>
        </div>
    </div>
</div>
<div id="selectConfig" class="modal fade" role="dialog">
    <div class="modal-dialog prj_select_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Choose the configuration or constrain file to couple with your job: </h4>
            </div>
            <div class="modal-body" id="job_select">
                {{#each objects}}
                    <div id="possibleJob">
                        <a data-dismiss="modal" onclick="stage_config_and_execute('{{id}}',EDITOR.editor,EDITOR.session)"><i></i> {{name}} <span></span></a>
                    </div>
                    <br>
                {{/each}}
                Choose the configuration file to couple with your job.
                This should be a User Constrain File (.json) for LFR jobs.
                This should be a Initialization File (.ini)  for MINT jobs.
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #job_select
    {
        overflow-y: auto;
    }
    #selectJob
    {
        position: absolute !important;
    }
    .prj_select_dialog
    {
    }
</style>