<!-- START: TERMINAL -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-fw"></i> Terminal
    </div>
    <div class="panel-body">
        <div id="terminal"></div>
    </div>
</div>
<!-- END: TERMINAL -->