<!--<ul class="nav" id="side-menu">-->

    <!--<li>-->
        <!--<a href="../"><i class="fa fa-home fa-fw"></i> Home </a>-->
    <!--</li>-->

    <ul id="workhbs" data-bind="foreach: workSpaces " >
        <li id="file_tree">
            <a><i class="fa fa-folder-o"></i><span data-bind="text:name, click: $parent.setAsCurrentWorkSpace(id)"></span></a>
        </li>
    </ul>

    <!--<li id="new_proj">-->
        <!--<a href="#"><i class="fa fa-plus-square-o"></i> New File <span class="fa plus-square-o"></span></a>-->
    <!--</li>-->
    <!--<li id="new_proj">-->
        <!--<a href="#"><i class="fa fa-plus-square-o"></i> New Project <span class="fa plus-square"></span></a>-->
    <!--</li>-->

<!--</ul>-->
