<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{title}} </title>
    {{> favicon }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../images/favicons/manifest.json">
    <link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../images/favicons/favicon.ico">
    <meta name="msapplication-config" content="../images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <!-- FILE PREVIEW SCRIPTS START -->
    <style type="text/css" media="screen">
        #editor_preview {
            height: 300px;
        }
    </style>

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/stylesheets/metisMenu.min.css" rel="stylesheet">
    <link href="/stylesheets/timeline.css" rel="stylesheet">
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!--Walkthrough tour-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="/javascripts/index/tour.js"></script>
    <style>
        body {  padding: 0 !important;  }
    </style>

</head>

<body>


<!-- *** START: THIS DIVISION WRAPS EVERYTHING *** -->
<div id="wrapper">

    <!-- START: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <!-- START: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->
        <div class="navbar-header">
            <img class="pull-left" height="40" width="40" style="margin-top: 5px; margin-left: 5px;" src="../images/NeptuneLogo.png">
            <a class="navbar-brand" style="font-family: 'Open Sans'"> NEPTUNE </a>

        </div>
        <ul class="nav navbar-top-links navbar-right">
        </ul>
    </nav>

    <!-- START: PAGE WRAPER -->
    <div id="page-wrapper" style="margin: 0px;">

        <!-- PAGE TITLE START -->
        <div class="row">
            <div class="col-lg-12">
                <h1></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- PAGE TITLE END -->

        <!--PAGE CONTENT WRAP START: ALL PAGE CONTENT IS EMBEDDED BELOW -->
        <div class="row">

            <!-- 3 PANEL DIV START: WORKFLOW OVERVIEW AND OTHER CONTENT  -->
            <div class="col-lg-12">

                <!--PANEL 3 START: WORKFLOW OVERVIEW PANEL -->
                <div class="panel panel-default">

                    <!-- TITLE -->
                    <div class="panel-heading" style="font-family: 'Open Sans'; font-size: 25px;">
                        <i class="fa fa-code-fork fa-fw"></i> Microfluidic Fabrication Workflow Overview
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <!-- NOTE: INVERTED REFERS TO WHICH SIDE OF THE TIMELINE THE TEXTBOX WILL APPEAR-->

                            <!-- START -->
                            <li>
                                <div class="timeline-badge start"><i class="fa fa-check" style="color: white; "></i> <!-- class: draws circle; i: adds image to circle -->
                                </div>
                                <div class="timeline-panel" id="start_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Start </h4>
                                        <!--<p><small class="text-muted"><i class="fa fa-clock-o"></i> </small>-->
                                        <!--</p>-->
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans'">
                                        <p> To begin creating a microfluidic chip, you have multiple options: </p>
                                        <p> 1) Start from scratch: Begin with the "specify" section of the workflow, where you can describe the functionality you want your microfluidic to achieve by writing an LFR file.</p>
                                        <p> 2) Already have an LFR file? Or maybe a MINT file? In the "design" section of the workflow, you can use these files to generate a schematic of your device, represented as JSON and SVG files. </p>
                                        <p> 3) Have a design schematic ready? Move to the "build" section of the workflow to fabricate your device; in this stage you can also munipulate the valves and fluid flow in your chip. </p>
                                    </div>
                                </div>
                            </li>

                            <!-- SPECIFY -->
                            <li class="timeline-inverted">
                                <div class="timeline-badge specify"><i class="fa fa-pencil-square-o" style="color: white;"></i>
                                </div>
                                <div class="timeline-panel" id="specify_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Specify </h4>
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans';">
                                        <p> Specify the function of your microfluidic chip through a high level description of liquid flow relations by creating an LFR file at the SPECIFY stage of the workflow. </p>
                                        <p> This LFR file will then be compiled to a design schematic in the DESIGN stage of the workflow.</p>
                                    </div>
                                </div>
                            </li>

                            <!-- DESIGN -->
                            <li>
                                <div class="timeline-badge design"><i class="fa fa-cogs" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                </div>
                                <div class="timeline-panel" id="design_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Design </h4>
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans';">
                                        <p> Generate a design schematic of your microfluidic chip. You can use an LFR file from the SPECIFY section of the workflow to compile a design schematic. </p>
                                        <p> Alternatively, you can manually define a design schematic by writing a MINT netlist file here. </p>
                                        <p> Your design schematic will be output as a SVG and JSON file; in the BUILD and VERIFY workflow stage you can use these files to fabricate your chip.</p>
                                    </div>
                                </div>
                            </li>

                            <!-- Build -->
                            <li class="timeline-inverted">
                                <div class="timeline-badge build"><i class="fa fa-wrench" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                </div>
                                <div class="timeline-panel" id="build_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Build </h4>
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans';">
                                        <p> Build your setup of the hardware. Specify the precision you require for the servos and syringes, and receive a custom product list for your experiments.</p>
                                    </div>
                                </div>
                            </li>

                            <!--Assembly-->
                            <li class="timeline">
                                <div class="timeline-badge assembly"><i class="fa fa-briefcase" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                </div>
                                <div class="timeline-panel" id="assembly_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Assembly </h4>
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans';">
                                        <p> Assemble all the hardware including CNC milling out the microfluidic chip, and 3D printing parts. </p>
                                    </div>
                                </div>
                            </li>

                            <!--Control-->
                            <li class="timeline-inverted">
                                <div class="timeline-badge control"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                </div>
                                <div class="timeline-panel" id="control_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Control </h4>
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans'; ">
                                        <p> Verify the functionality of your device here by controlling your pump and valve infrastructure through the user interface. </p>
                                    </div>
                                </div>
                            </li>

                            <!-- DONE -->
                            <li>
                                <div class="timeline-badge done"><a></a><i class="fa fa-trophy" ></i> <!-- class: draws circle; i: adds image to circle -->
                                </div>
                                <div class="timeline-panel" id="done_box">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" style="font-family: 'Open Sans'; font-size: 20px;"> Done! </h4>
                                    </div>
                                    <div class="timeline-body" style="font-family: 'Open Sans';">
                                        <p> Congratulations! Support other researchers in the field of synthetic biology by sharing your microfluidic design schematic on GitHub!</p>
                                        <p> Questions, comments, or suggestions? Reach out to us at bu.igemhw2016@gmail.com </p>
                                        <p> If you would like to support this project, learn more about us on GitHub, visit our webpage at CIDARlab.org, or visit our documentation on the iGEM wiki.</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!--PANEL 3 END: WORKFLOW OVERVIEW PANEL -->

            </div>
            <!-- 3 PANEL DIV END: WORKFLOW OVERVIEW AND OTHER CONTENT  -->


        </div>
        <!--PAGE CONTENT WRAP END: ALL PAGE CONTENT IS EMBEDDED ABOVE -->

    </div>
    <!-- END: PAGE WRAPER -->

</div>
<!-- *** END: THIS DIVISION WRAPS EVERYTHING *** -->

<!-- *** START: DEPENDENCIES *** -->
<!-- jQuery -->
<script src="/javascripts/styles/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/styles/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/styles/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/javascripts/styles/raphael-min.js"></script>
<script src="/javascripts/styles/morris.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/javascripts/styles/sb-admin-2.js"></script>
<!-- *** END: DEPENDENCIES *** -->

<script type="text/javascript">

</script>

</body>

</html>