<!doctype html>
<html>
<head>
    {{> favicon}}
  <title>{{title}}</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../stylesheets/metisMenu.min.css" rel="stylesheet">
    <link href="../stylesheets/timeline.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../javascripts/common/knockout-3.4.2.js"></script>

  <style>
    body         { padding-top:0px; word-wrap:break-word; font-size: 15px!important; }
  </style>

    <script type="text/javascript">
        $(document).ready(function(){
            localStorage.Email = document.getElementById('userEmail').getAttribute("email")
        });

    </script>
</head>
<body>
{{>topBar}}

<div class="navbar navbar-default sidebar" style="float: left; clear: both; position: fixed; height: 100%; width: 150px;  padding-left: 20px; border: none;">
    <br>
    <p>Jump to Page</p>
    <ul class="nav " id="links">
        <li>
            <a href="../specify"><i class="fa fa-pencil-square-o  fa-fw"></i> Editor </a>
        </li>
        <li>
            <a href="../build"><i class="fa fa-wrench" aria-hidden="true"></i> Build</a>
        </li>
        <li>
            <a href="../assembly"><i class="fa fa-briefcase" aria-hidden="true"></i> Assembly</a>
        </li>
        <li>
            <a href="../control"><i class="fa fa-bars" aria-hidden="true"></i> Control</a>
        </li>

    </ul>
</div><!--/left-->

<div class="container " style="float: left; padding-left: 200px;">
    <br>

  <div class="row">
    <div class="text-left">
      <!--<div class="well">-->
        <h3><span class="fa fa-user"></span> Dashboard </h3>
        <br><br>
      <!--</div>-->
    </div>
  </div>

  <!--Projects  -->
    <div class="row">
        <!--Title-->
        <div class="text-center">
            <div class="well" style="height: 70px;">
                <h5 style="text-align: left"> <i class="fa fa-tasks" aria-hidden="true"></i>  Projects
                <a href="#myprojects" class="btn" style="float: right" data-toggle="collapse">Show/Hide <span class="caret"></span></a>
                </h5>
            </div>
        </div>
        <!--Body-->
        <div id="myprojects" class="page-header text-center collapse show" style="float: center">

            <div class="w3-container" data-bind="foreach: workspaces">


                <div class="w3-card-4" style="width:25%; float: left; margin-right: 5%; margin-bottom: 30px;">
                    <header class="w3-container w3-light-grey">
                        <br>
                        <p data-bind="text: projectName">Project 1</p>
                        <br>
                    </header>
                    <div class="w3-container">
                        <br>
                        <button class="w3-button w3-block " data-bind="click: $parent.openProject">Open Project</button>
                        <hr>
                    </div>
                </div>

            </div>
            <div class="w3-container">

            <div class="w3-card-4" style="width:25%; float: left; margin-right: 5%; margin-bottom: 30px;">
            <header class="w3-container w3-light-grey">
            <p>Start New Project</p>
            </header>
            <div class="w3-container">
            <br>
            <!--<button class="w3-button w3-block" onclick="window.open('/specify')">+</button>-->
            <a href="#new_workspace" data-target="#new_workspace" data-toggle="modal"><i class="fa fa-plus-square"></i>  </a>
                <hr>
            </div>
            </div>

            <br><br>
            <!--/.Card-->
            <br><br>
            </div>
        </div>
    </div>

    <!--Help-->
    <div class="row">
        <!--Title-->
        <div class="text-center">
            <div class="well" style="height: 70px;">
                <h5 style="text-align: left"> <i class="fa fa-question-circle" aria-hidden="true"></i>  Help / Microfluidic Fabrication Workflow Overview
                    <a href="#helpme" class="btn" style="float: right" data-toggle="collapse">Show/Hide <span class="caret"></span></a>
                </h5>
            </div>
        </div>
        <!--Body-->
        <div id="helpme" class="page-header text-center collapse">
            <div id="page-wrapper" style="margin: 0px;">

                <!-- PAGE TITLE START -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- PAGE TITLE END -->

                <!--PAGE CONTENT WRAP START: ALL PAGE CONTENT IS EMBEDDED BELOW -->
                <div class="row">
                    <!-- 3 PANEL DIV START: WORKFLOW OVERVIEW AND OTHER CONTENT  -->
                    <div class="col-lg-12">

                        <!--PANEL 3 START: WORKFLOW OVERVIEW PANEL -->
                        <div class="panel panel-default">

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <ul class="timeline">
                                    <!-- NOTE: INVERTED REFERS TO WHICH SIDE OF THE TIMELINE THE TEXTBOX WILL APPEAR-->

                                    <!-- START -->
                                    <li>
                                        <div class="timeline-badge start"><i class="fa fa-check" style="color: white; "></i> <!-- class: draws circle; i: adds image to circle -->
                                        </div>
                                        <div class="timeline-panel" id="start_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style=" font-size: 20px;"> Start </h4>
                                                <!--<p><small class="text-muted"><i class="fa fa-clock-o"></i> </small>-->
                                                <!--</p>-->
                                            </div>
                                            <div class="timeline-body" >
                                                <p> To begin creating a microfluidic chip, you have multiple options: </p>
                                                <p> 1) Start from scratch: Begin with the "specify" section of the workflow, where you can describe the functionality you want your microfluidic to achieve by writing an LFR file.</p>
                                                <p> 2) Already have an LFR file? Or maybe a MINT file? In the "design" section of the workflow, you can use these files to generate a schematic of your device, represented as JSON and SVG files. </p>
                                                <p> 3) Have a design schematic ready? Move to the "build" section of the workflow to fabricate your device; in this stage you can also munipulate the valves and fluid flow in your chip. </p>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- SPECIFY -->
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge specify"><i class="fa fa-pencil-square-o" style="color: white;"></i>
                                        </div>
                                        <div class="timeline-panel" id="specify_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style="font-size: 20px;"> Specify </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p> Specify the function of your microfluidic chip through a high level description of liquid flow relations by creating an LFR file at the SPECIFY stage of the workflow. </p>
                                                <p> This LFR file will then be compiled to a design schematic in the DESIGN stage of the workflow.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- DESIGN -->
                                    <li>
                                        <div class="timeline-badge design"><i class="fa fa-cogs" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                        </div>
                                        <div class="timeline-panel" id="design_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style=" font-size: 20px;"> Design </h4>
                                            </div>
                                            <div class="timeline-body" >
                                                <p> Generate a design schematic of your microfluidic chip. You can use an LFR file from the SPECIFY section of the workflow to compile a design schematic. </p>
                                                <p> Alternatively, you can manually define a design schematic by writing a MINT netlist file here. </p>
                                                <p> Your design schematic will be output as a SVG and JSON file; in the BUILD and VERIFY workflow stage you can use these files to fabricate your chip.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- Build -->
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge build"><i class="fa fa-wrench" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                        </div>
                                        <div class="timeline-panel" id="build_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style="font-size: 20px;"> Build </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p> Build your setup of the hardware. Specify the precision you require for the servos and syringes, and receive a custom product list for your experiments.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <!--Assembly-->
                                    <li class="timeline">
                                        <div class="timeline-badge assembly"><i class="fa fa-briefcase" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                        </div>
                                        <div class="timeline-panel" id="assembly_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style="font-size: 20px;"> Assembly </h4>
                                            </div>
                                            <div class="timeline-body" >
                                                <p> Assemble all the hardware including CNC milling out the microfluidic chip, and 3D printing parts. </p>
                                            </div>
                                        </div>
                                    </li>

                                    <!--Control-->
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge control"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i> <!-- class: draws circle; i: adds image to circle -->
                                        </div>
                                        <div class="timeline-panel" id="control_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style="font-size: 20px;"> Control </h4>
                                            </div>
                                            <div class="timeline-body" >
                                                <p> Verify the functionality of your device here by controlling your pump and valve infrastructure through the user interface. </p>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- DONE -->
                                    <li>
                                        <div class="timeline-badge done"><a></a><i class="fa fa-trophy" ></i> <!-- class: draws circle; i: adds image to circle -->
                                        </div>
                                        <div class="timeline-panel" id="done_box">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title" style=" font-size: 20px;"> Done! </h4>
                                            </div>
                                            <div class="timeline-body" >
                                                <p> Congratulations! Support other researchers in the field of synthetic biology by sharing your microfluidic design schematic on GitHub!</p>
                                                <p> Questions, comments, or suggestions? Reach out to us at bu.igemhw2016@gmail.com </p>
                                                <p> If you would like to support this project, learn more about us on GitHub, visit our webpage at CIDARlab.org, or visit our documentation on the iGEM wiki.</p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!--PANEL 3 END: WORKFLOW OVERVIEW PANEL -->

                    </div>
                    <!-- 3 PANEL DIV END: WORKFLOW OVERVIEW AND OTHER CONTENT  -->


                </div>
                <!--PAGE CONTENT WRAP END: ALL PAGE CONTENT IS EMBEDDED ABOVE -->

            </div>
        </div>
    </div>
</div>
</body>

{{>newWorkspace}}

<script type="text/javascript">

    // Overall viewmodel for this screen, along with initial state
    function WorkspaceModel() {
        var self = this;
        self.newWorkSpaceName = ko.observable("");

        self.workspaces = ko.observableArray([]);

        // Workspaces
        $.get('/api/v1/workspaces', function(data){
            var workspaces = data;
            for (var i = 0; i < workspaces.length; i++) {
                $.get('/api/v1/workspace', {workspace_id: workspaces[i]}, function(data){
                    var id = data.id;
                    var name = data.name;
                    self.workspaces.push(new neptuneProject(id, name));
                });
            }
        });

        // Operations
        self.openProject = function(workspace){
            window.open("/specify?id="+workspace.projectId);
        };


        self.createNewWorkSpace = function(){

            var workspace_name = self.newWorkSpaceName();
            $.post('/api/v1/workspace',
                    {
                        name: workspace_name
                    },
                    function(workspace_id)
                    {
                        console.log("Created Workspace: " + workspace_id);
                        self.updateWorkSpaces();
                        //TODO update the user and workspace models
                        self.setAsCurrentWorkSpace(workspace_id);
                    }
            );
        };

        self.updateWorkSpaces = function(){
            console.log("Getting all the new workspaces :"  );
            $.get('api/v1/workspaces',function (response) {
                self.workSpaceIDs.removeAll();
                self.workSpaces.removeAll();
                for(var i = 0 ; i<response.length;i++){
                    self.addWorkSpace(response[i]);
                    self.workSpaceIDs.push(response[i]);
                }
                console.log(self.workSpaceIDs());
            });
            location.reload();
        };

    }

    function neptuneProject(projectid, projectname) {
        var self = this;
        self.projectName = projectname;
        self.projectId = projectid;
    }

    ko.applyBindings(new WorkspaceModel());


</script>

</html>
